@media (max-width: 1024px) {
  .container {
    width: 325px;
  }

  .header h2 {
    font-size: 1.1rem;
  }
  .form-control input {
    font-size: 0.725rem;
    padding: 12px;
  }

  .form-control label {
    font-size: 0.825rem;
    margin-bottom: 2px;
  }

  .form-control small {
    font-size: 0.725rem;
  }

  .form button {
    font-size: 0.825rem;
  }
}
